@tailwind base;
@tailwind components;
@tailwind utilities;
h1{
  font-size: 1.8rem;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 2px solid;
  background-color: rgb(58, 35, 58) ;
  color: aliceblue;
  text-decoration: underline;
}  
#para{
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid;
    background-color: rgb(58, 35, 58) ;
    color: aliceblue;
    text-decoration: underline;
  } 
  #list{
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid;
    background-color: rgb(58, 35, 58) ;
    color: aliceblue;
    text-decoration: underline;
  } 